[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mandar-masterclass
[access "refs/for/refs/*"]
	read = group user/mandar-masterclass
	push = group user/mandar-masterclass
	label-Code-Review = -2..+2 group user/mandar-masterclass
	label-Verified = -1..+1 group user/mandar-masterclass
	rebase = group user/mandar-masterclass
	removeReviewer = group user/mandar-masterclass
	submit = group user/mandar-masterclass
[access "refs/heads/*"]
	read = group user/mandar-masterclass
	create = group user/mandar-masterclass
	push = +force group user/mandar-masterclass
	pushMerge = group user/mandar-masterclass
[access "refs/tags/*"]
	push = +force group user/mandar-masterclass
	pushTag = group user/mandar-masterclass
	pushSignedTag = group user/mandar-masterclass
